@charset "utf-8";

/*--------------------------------------
  FOR Admin fieldsetgroups
--------------------------------------*/

form#admin-fieldsetgroups fieldset {
  padding: 8px;
  border: 1px solid #CCCCCC;
  background: #EFEFEF;
}

form#admin-fieldsetgroups dl {
  float: left;
  width: 30%;
  margin: 0 0 1em 0;
  padding: 0;
}

form#admin-fieldsetgroups dl dt {
  margin: 0;
  padding: 0;
  text-align: center;
}

form#admin-fieldsetgroups dl dd {
  margin: 0;
  padding: 0;
}

form#admin-fieldsetgroups dl dd select {
  width: 100%;
}

form#admin-fieldsetgroups ul.move {
  list-style-position: outside;
  list-style-type: none;
  float: left;
  width: 40%;
  margin: 3.5em 0 0 0;
  padding: 0;
  text-align: center;
}

form#admin-fieldsetgroups ul.move li {
  margin: 0 0 0.5em 0;
  padding: 0;
}

form#admin-fieldsetgroups ul.submit {
  clear: left;
  text-align: center;
}
